.login{
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.login div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.login input{
    width: 70%;
    padding: 6px;
}